
@import url('https://fonts.googleapis.com/css2?family=Montserrat:display=swap');

:root {
    --main-color: #fe043b;
    --main-bk-color:#fef5ec;
    --secondary-bk-color:#ffedde;
    --dark: black;
    --light: white;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--main-bk-color);
    
}


.grid-container{
    display:grid;
}


/* HEADER */

#brand{
    color: var(--main-color);
    font-weight: 700;
}

#header #brand{
    font-size: 40px;
    text-decoration: none;
}

#header{
    /* margin-bottom: 40px; */
    margin: 2% 13%;

}

.header-container{
    display: grid;
    grid-template-columns: 95% 1fr;
}

.header-item{
    grid-column: 1 span;
}

.header-item:nth-child(2){
    align-self: center;
}

#hamburguer{
    display: none;
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
}

.show_nav{
    display: block !important;
}

.hide_nav{
    display: none !important;
}



/* HEADER END */


/* NAV */
.nav-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
    grid-template-rows: 1fr;
    grid-gap: 10px 20px;
    margin: 1% 13%;
}



.nav-item{
    border: var(--main-color) solid 2px;
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.nav-item:last-child{
    background-color: var(--main-color);
    color: var(--light);
}

.nav-item:hover{
    background-color: var(--main-color);
    color: var(--light);
}
/* NAV END */

/* MAIN */

.rounded{
    border-radius: 10px !important;
    -webkit-box-shadow: 1px 4px 12px -7px #000000; 
    box-shadow: 1px 4px 12px -7px #000000;
}

.promo-container{
    display: grid;
    grid-template-columns: 5fr 2.5fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 20px;
    grid-auto-flow: column;    
    margin: 1% 13%;
}

.promo-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.img-promo-conteaner{
    position: relative;
    display: inline-block;
    text-align: center;
}
.title-promo{
    font-size: 25px;
    font-weight: 700;
    color: var(--light);
    background-color: var(--main-color);
    position: absolute;
    top: 75%;
    left: 5%;
}


.promo-item:nth-child(2){
    align-self: stretch;
    
}

.card-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 20px;
    
}

.promo-card{
    background-color: var(--main-color);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    
}

.card-text h3{
    font-weight: 300;
    
}

.prices_info{
    background-color: var(--secondary-bk-color);
    padding-bottom: 10px;
}

.prices-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-template-rows: minmax(200px, 2fr);
    gap: 1rem;
    margin: 1% 13%;
}

.prices-card{
    background-color: var(--light);
    margin-bottom: 20px;
}

.prices-card-content{
    display: flex;
    justify-content: space-between;
    
}

.prices-card-content-item{
    color: var(--dark);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px;
}

.prices-card-content-item:nth-child(2){
    color: var(--main-color);
    font-weight: 400;
}

.prices-item{
    margin-top: 25px;
}

.prices-item img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.info-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 20px;
    margin: 1% 13%; 
    padding: 20px;
    background-color: var(--light);
}

.info-item:nth-child(1){
    
    height: auto;
    width: 70%;
    object-fit: cover;
    justify-self: center;
}

.info-item:nth-child(2){
    align-self: center;
}

.info-item:nth-child(2) p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.info-item:nth-child(2) a{
    font-size: 15px;
    font-weight: 700;
    color: var(--light);
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.specialties-title{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 20px;
    margin: 1% 13%;
    
    
}

.specialties-title-items{
    text-align: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
}

.specialties-title-items:nth-child(1), .specialties-title-items:nth-child(3){
    height: 3px;
    border: none;
    background-color: var(--main-color);
    align-self: center;
}


.specialties-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px 40px;
    margin: 2% 13%;
}

.specialties-container img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}


/* MAIN END */

/* FOOTER */
footer{
    background-color: var(--secondary-bk-color) ;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
/* FOOTER END*/


/* RESPONSIVE */

@media (min-width: 801px){
    #navbar{
        display: block !important;
    }
}

@media (max-width: 800px){

    #hamburguer{
        display: block ;
    }

    #navbar{
        display: none;
        animation-duration: 1s;
        animation-name: slidein;
    }

    .promo-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media (max-width: 650px){
    .info-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
}

/* RESPONSIVE END */



/* ANIMATIONS */

@keyframes slidein {
    from {
      opacity: 0%;
    }
    to {
        opacity: 100%;
    }
  }

/* ANIMATIONS END */